
.MuiOutlinedInput-input{
    color:#003566!important;
    background-color: black;
}
.MuiOutlinedInput-input:focus{
    background-color: #ffc300;
}
.MuiOutlinedInput-input{
    border-color: red!important;
}

.createprogramcontainer{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.createprogramcontainerinner{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
}
.createprogramhero{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
outlined-basic{
    margin-bottom: 2rem;
}
.textfieldcont{
    padding: 10px;
    display: flex;
    align-items: center;
}
.excersisebox{
    display: flex;
    align-items: center;
    border: white;
}
.excersiseinnercont{
    justify-content: center;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: #004c94;
    padding: 1rem;
    color: #003566;
    border-radius: 10px;
}
#addsettag{
   color: black;
   margin-left: 1rem;
   color: #003566;

}
#setname{
    margin-left: -2rem;
}

.programName{
    margin-bottom: 2rem; 

}
.submitBtn{
    padding: 10px;
    margin-left: 30px;
    background-color: #ffc300;
    border-radius: 10px;
    color: #003566;
}
.xTag{
    color: #003566;
}